client_id = "c93d794edb930ae53c752669f71b285f"
name = "convertflow-ai"
application_url = "https://limegreen-gorilla-249027.hostingersite.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_themes,write_themes,read_products,write_products,read_content,write_content"

[auth]
redirect_urls = [
  "https://limegreen-gorilla-249027.hostingersite.com/auth/callback",
  "https://limegreen-gorilla-249027.hostingersite.com/auth/shopify/callback",
  "https://limegreen-gorilla-249027.hostingersite.com/api/auth/callback"
]
